body {
	width:700px;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
	color: #808080;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
	color: #800000;
	font-size: 2.5em;
}

a:link {
	color: #B36666;
	text-decoration: none;
}

a:visited {
	color: #505050;
	text-decoration: none;
}

a:active {
    color: #800000;
}

#topbox {
	height:400px;
	width:100%;
}

#infobox {
	width: 50%;
	float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#picbox {
	width: 50%;
	float: left;
}

#linkbox {
	clear: both;
	width: 100%;
}

#contentbox {
	clear: both;
	width: 100%;
	border: 3px double #505050;
	min-height: 200px;
	max-height: 500px;
	padding: 12px;
	border-radius: 0px 8px 8px 8px;
}

#profile {
	float:right;
}

.link {
	width: 20%;
	text-align: center;
	float: left;
	padding: 5px 0px;
	margin: 0px 2px;
	color: #800000;
	cursor:pointer;
	border-top: 1px solid #505050;
	border-left: 1px solid #505050;
	border-right: 1px solid #505050;
	border-radius: 10px 10px 0px 0px;
}